.row {
    display: flex;
  }
  
  .column_calendar {
    flex: 85%;
  }

  .column {
    flex: 15%;
  }

.mainbody{
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  
  
}

/* .maintitle{
  align: center;
}

.subtitle{
  align: center;
} */